#USD, #EUR, #CAD { 
    font-weight: bolder; 
}
.heightCurrency { 
    height: 300px;
}
#MXNCurrency {
    height: 300px;
}
input:invalid+span:after {
    content: '✖';
    padding-left: 5px;
}  
input:valid+span:after {
    content: '✓';
    padding-left: 5px;
}
#alert{
    color: red;
}